Repository mozisan/next-layout: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

1.0.0
  package.json
Due: prettier --write

Fix config files
  .vscode/settings.json
  package.json
Due: prettier --write

Fix type errors
  next-shim.d.ts
  src/_define_layout.ts
  src/_next_types.ts
  src/_page_renderer.tsx
Due: eslint --fix, prettier --write

1.0.1
  package.json
Due: prettier --write

Run build script before publishing
  package.json
Due: prettier --write

1.0.2
  package.json
Due: prettier --write

Add README
  README.md
Due: none

Accept type parameters
  .eslintrc.json
  src/_define_layout.ts
  src/_next_types.ts
Due: eslint --fix, prettier --write

1.0.3
  package.json
Due: prettier --write

Support Next.js v13
  package.json
Due: prettier --write

1.0.4
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,yaml,yml})
